* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-kir.kaz-kir.dix -text
/apertium-kaz-kir.kaz-kir.lrx -text
/apertium-kaz-kir.kaz-kir.lsx -text
/apertium-kaz-kir.kaz-kir.t1x -text
/apertium-kaz-kir.kaz-kir.t2x -text
/apertium-kaz-kir.kir-kaz.lrx -text
/apertium-kaz-kir.kir-kaz.t1x -text
/apertium-kaz-kir.kir-kaz.t2x -text
/apertium-kaz-kir.post-kaz.dix -text
/apertium-kaz-kir.post-kir.dix -text
/apertium-view.sh -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/countstemsdix.sh -text
dev/extract-same-entries.sh -text
dev/find-adj-incons.py -text
dev/kaz-countstems.sh -text
dev/kir-countstems.sh -text
dev/lexical_selection_rules_needed.txt -text
dev/test-prefix.sh -text
/kaz-kir.prob -text svneol=unset#unset
/kir-kaz.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/testcorpus_kaz-kir.sh -text
testvoc/lite/README -text
testvoc/lite/testvoc-summary.kaz-kir.txt -text
testvoc/lite/testvoc.sh -text
testvoc/standard/inconsistency-summary.sh -text
testvoc/standard/inconsistency.sh -text
testvoc/standard/testvoc.sh -text
texts/MANIFEST -text
texts/azattyq_24455849.kaz.txt -text svneol=unset#application/octet-stream
texts/azattyq_24455849.kir.txt -text svneol=unset#application/octet-stream
texts/azattyq_25051112.kaz.txt -text svneol=unset#application/octet-stream
texts/azattyq_25052769.kaz.txt -text svneol=unset#application/octet-stream
texts/brazil.kaz.txt -text svneol=unset#application/octet-stream
texts/brazil.kir.txt -text svneol=unset#application/octet-stream
texts/dert.kaz.txt -text svneol=unset#application/octet-stream
texts/dert.kir.txt -text svneol=unset#application/octet-stream
texts/ho_chi_minh.kaz.txt -text svneol=unset#application/octet-stream
texts/ho_chi_minh.kir.txt -text svneol=unset#application/octet-stream
texts/kazakh_adebieti.kaz.txt -text svneol=unset#application/octet-stream
texts/kazakh_adebieti.kir.txt -text svneol=unset#application/octet-stream
texts/kazakhadebieti_6599.kaz.txt -text svneol=unset#application/octet-stream
texts/kazakhadebieti_6599.kir.txt -text svneol=unset#application/octet-stream
texts/kazakhadebieti_6606.kaz.txt -text svneol=unset#application/octet-stream
texts/kazakhadebieti_6606.kir.txt -text svneol=unset#application/octet-stream
texts/misc_sentences.kaz.txt -text svneol=unset#application/octet-stream
texts/misc_sentences.kir.txt -text svneol=unset#application/octet-stream
texts/sauytty_poezd.kaz.txt -text svneol=unset#application/octet-stream
texts/sauytty_poezd.kir.txt -text svneol=unset#application/octet-stream
texts/spektr.kaz.txt -text svneol=unset#application/octet-stream
texts/spektr.kir.txt -text svneol=unset#application/octet-stream
texts/story.kaz-kir-postedited.2.txt -text svneol=unset#application/octet-stream
texts/story.kaz-kir-postedited.txt -text svneol=unset#application/octet-stream
texts/story.kaz-kir.2.txt -text svneol=unset#application/octet-stream
texts/story.kaz.2.txt -text svneol=unset#application/octet-stream
texts/story.kaz.txt -text svneol=unset#application/octet-stream
texts/story.kir.txt -text svneol=unset#application/octet-stream
texts/translate.sh -text
texts/trt_2013-04-05.kaz-kir-postedited.2.txt -text svneol=unset#application/octet-stream
texts/trt_2013-04-05.kaz-kir-postedited.txt -text svneol=unset#application/octet-stream
texts/trt_2013-04-05.kaz.txt -text svneol=unset#application/octet-stream
texts/trt_2013-04-05.kir.txt -text svneol=unset#application/octet-stream
texts/udhr.kaz.txt -text svneol=unset#application/octet-stream
texts/udhr.kir.txt -text svneol=unset#application/octet-stream
/wiki-tests.sh -text
